
.location-map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    .map {
        width: 100%;
        height: 100%;
    }
}

.map-header {
    position: relative;
    padding: 10px 12px;
    background: #efeff4;
    border-bottom: 1px solid #cfcfcf;

    .search {
        position: relative;

        .input-box {
            margin-right: 52px;
            input {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #bbb;
                font-size: 14px;
                text-indent: 20px;
                box-sizing: border-box;
                line-height: 1.4;
                background: #fff url('./icons.png') no-repeat;
                background-size: 150px 75px;
                padding: 5px;
                background-position: -120px -42px;
            }

            .icon {
                background: url('./icons.png') no-repeat;
                background-size: 150px 75px;
            }
            .icon-delete {
                background-position: -3px -2px;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 57px;
                top: 6px;
            }
        }

        .btn-search-ok {
            position: absolute;
            width: 40px;
            height: 31px;
            line-height: 31px;
            border: 0;
            background: none;
            font-size: 16px;
            text-align: center;
            color: #3eaf0e;
            right: 0;
            top: 0;
        }
    }

    .search-list {
        position: absolute;
        top: 50px;
        left: 0;
        padding-left: 1rem;
        width: 100%;
        z-index: 99;
        background: #fff;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid #ddd;
                padding: 0.5rem 0;

                span {
                    color: #666;
                    font-size: 16px;
                    width: 100%;
                    line-height: 1.5;
                    overflow: hidden;
                }
            }
        }
    }
}

.map-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-left: -9px;
    margin-top: 4px;

    img {
        vertical-align: middle;
        width: 23px;
    }
    p {
        width: 163px;
        height: 50px;
        background: url('./info-bg.png') no-repeat;
        background-size: 163px 50px;
        position: absolute;
        top: -50px;
        left: -72px;
        z-index: 99;

        & > font {
            padding: 8px;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            width: 147px;
            display: block;
        }
    }
}
